<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mark.chronicles</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-1021392640818-ios-0afa4051098a69163a152b</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.1021392640818-enib26eqnhv0qned91fg3e12i8ppi495</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1021392640818-enib26eqnhv0qned91fg3e12i8ppi495</string>
			</array>
		</dict>
	</array>
</dict>
</plist>

